page-realisation {
  ion-col {
    position: relative;
    text-align: center;

  }

  img{
    border-radius:50%;
    align-items: center !important;
    width:150px;
    height:150px;
  }
  .image2{
    position: relative;
    top: 35px;
    margin: auto;
  }
  #card-titre{
    position: relative;
    bottom: 17px;
    font-size: 2.0em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold !important;
    color: black;
  }

  #card-title {
    position: absolute;
    font-size: 2.0em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold !important;
    color: black;
  }
}
